# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
/.idea/
/.idea
/build
/build/
/target
/target/
/out
/out/
/*/build