# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
.idea/dataSources/
# IntelliJ IDEA
.idea/
# Maven
target/
# Gradle
build/
/out
*.properties
src/main/resources/db.properties
*.bin
*.lock
