<configuration>
    <appender name="Order" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/webapp/WEB-INF/logs/Order/Hahati-Order.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>src/main/webapp/WEB-INF/logs/Order/Hahati-Order-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                Order: %mdc{order},
                Area: %mdc{area},
                Approver: %mdc{approver},
                Status: %mdc{status}%n
            </pattern>
        </encoder>
    </appender>
    <appender name="User" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/webapp/WEB-INF/logs/User/Hahati-User.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>src/main/webapp/WEB-INF/logs/User/Hahati-User-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                User: %mdc{user},
                Area: %mdc{area},
                Approver: %mdc{approver},
                Status: %mdc{status}%n
            </pattern>
        </encoder>
    </appender>
    <appender name="UserChangePassword" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/webapp/WEB-INF/logs/User/Hahati-UserChangePassword.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>src/main/webapp/WEB-INF/logs/User/Hahati-UserChangePassword-%d{yyyy-MM}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                User: %mdc{user},
                Area: %mdc{area},
                Approver: %mdc{approver},
                location: %mdc{location}
            </pattern>
        </encoder>
    </appender>
    <appender name="UserBanned" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/webapp/WEB-INF/logs/User/Hahati-UserChangePassword.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>src/main/webapp/WEB-INF/logs/User/Hahati-UserBanned-%d{yyyy-MM}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                User: %mdc{user},
                Area: %mdc{area},
                Approver: %mdc{approver}
            </pattern>
        </encoder>
    </appender>

    <logger name="Order">
        <appender-ref ref="Order"/>
    </logger>
    <logger name="User">
        <appender-ref ref="User"/>
    </logger>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
