<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>com.projectName.resources.ApplicationResource</param-value>
    </context-param>

    <filter>
        <description></description>
        <display-name>CookieFilter</display-name>
        <filter-name>CookieFilter</filter-name>
        <filter-class>vn.edu.hcmuaf.fit.filter.CookieFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>
    <filter>
        <description></description>
        <display-name>UserFilter</display-name>
        <filter-name>UserFilter</filter-name>
        <filter-class>vn.edu.hcmuaf.fit.filter.UserFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>
    <filter>
        <description></description>
        <display-name>AdminFilter</display-name>
        <filter-name>AdminFilter</filter-name>
        <filter-class>vn.edu.hcmuaf.fit.filter.AdminFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter> <filter>
        <description></description>
        <display-name>LoginFilter</display-name>
        <filter-name>LoginFilter</filter-name>
        <filter-class>vn.edu.hcmuaf.fit.filter.LoginFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>
    <filter>
        <description></description>
        <display-name>ManagerFilter</display-name>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>vn.edu.hcmuaf.fit.filter.ManagerFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>


    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/account/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>

        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>

        <url-pattern>/admin/blog/update/*</url-pattern>
        <url-pattern>/admin/product/update/*</url-pattern>
        <url-pattern>/admin/coupon/update/*</url-pattern>
        <url-pattern>/admin/category/update/*</url-pattern>
        <url-pattern>/admin/topping/update/*</url-pattern>
        <url-pattern>/admin/sale/update/*</url-pattern>
        <url-pattern>/admin/staff/*</url-pattern>
        <url-pattern>/admin/user/*</url-pattern>

        <url-pattern>/admin/blog/create/*</url-pattern>
        <url-pattern>/admin/product/create/*</url-pattern>
        <url-pattern>/admin/coupon/create/*</url-pattern>
        <url-pattern>/admin/category/create/*</url-pattern>
        <url-pattern>/admin/topping/create/*</url-pattern>
        <url-pattern>/admin/sale/create/*</url-pattern>

        <url-pattern>/admin/blog/delete/*</url-pattern>
        <url-pattern>/admin/product/delete/*</url-pattern>
        <url-pattern>/admin/coupon/delete/*</url-pattern>
        <url-pattern>/admin/category/delete/*</url-pattern>
        <url-pattern>/admin/topping/delete/*</url-pattern>
        <url-pattern>/admin/sale/delete/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>vn.edu.hcmuaf.fit.controller.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/logs/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>

    <servlet-mapping>
        <servlet-name>Error404</servlet-name>
        <url-pattern>/404</url-pattern>
    </servlet-mapping>

</web-app>

